@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;300&family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html {
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

/*-----------------------------------------*/

.logo-0 {
    height: 15vh;
    /* filter: invert(1); */
}

.header-part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.links-1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-1 a {
    margin-right: 4vw;
    color: #ffffff;
    text-decoration: underline;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.links-1 a:hover {
    color: #d3d3d3;
}

.top-image {
    height: 100vh;
    /* border: 2px solid red; */
}

.top-image img {
    height: 100%;
    width: 100%;
}

.main-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
}



.top-h1 {
    font-size: 12vw;
    /* background: #B7DEED;
    background: linear-gradient(to right, #8cc4da 0%, #71CEEF 25%, #9b38ec 75%, #B7DEED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    font-family: 'Lobster', cursive;
    color: #ead6fa;
}

.btm-h1 {
    color: #ffffffa0;
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------------------------*/

.header-part-2 {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
}

.links {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.links a {
    margin-right: 4vw;
    color: grey;
    text-decoration: underline;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.links a:hover {
    color: #2c2c2c;
}

.logoarea {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 13vh;
}

#carouselExampleIndicators {
    height: 92vh;
    /* border: 2px solid red; */
    overflow: hidden;
    object-fit: cover;
}

.carousel-item img {
    height: 100%;
}

/* carousel part ends */

.above-carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 5% 0;
    /* background-color: #ffffff; */
}

.left-span-c {
    display: flex;
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
}

.left-span-c h3 {
    font-family: 'Anton', sans-serif;
    color: #2c2c2c;
    margin: 0;
}

.left-span-c h1 {
    font-size: 6vw;
    font-family: 'Anton', sans-serif;
    color: #423e63;
    margin: 0;
}

.right-span-c {
    width: 80%;
}

.right-span-c p {
    margin: 0;
    font-size: 1.5vw;
}

/*-------------------------------------------*/

.after-carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    /* background-color: #938cd6; */
}

.left-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.left-span h3 {
    font-family: 'Anton', sans-serif;
    color: #2c2c2c;
    margin: 0;
}

.left-span h1 {
    font-size: 6vw;
    font-family: 'Anton', sans-serif;
    color: #949494;
    margin: 0;
}

.right-span {
    width: 50%;
}

.right-span p {
    margin: 0;
    font-size: 1.5vw;
}

/*------------------*/

.mountain-btns {
    background-color: #2c2c2c;
    height: 4.8vh;
    display: flex;
}

.nav-btns {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    overflow: hidden;
}

.nav-btns a {
    font-size: 1.2vw;
    padding: 0 1rem;
    text-decoration: none;
    color: #dedede;
}

.m-link1 {
    background-color: #686868;
    text-decoration: underline;
}

/*--------------------------------*/

.bottom {
    height: 65vh;
    overflow: hidden;
}

.bottom img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #000;
    z-index: -1;
}

/*--------------------------------*/

.footer-part-1 {
    height: 13vh;
    background-color: #ffffff;
    display: flex;
}

.copyright-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.copyright-text p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
}

/*-----------------------------------*/
.bottom {
    position: relative;
}

.floating-table {
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
}

.bottom-img {
    display: block;
}

.table-area {
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30vw;
    margin-top: 8vh;
    margin-left: 15vw;
    color: #5b5b5b;
}

.table-heading {
    font-size: 28px;
    font-family: 'Antonio', sans-serif;
    text-align: center;
    color: #7671a3;
}

td,
th {
    text-align: center;
    padding: 0.7rem;
    font-weight: bold;
}

#table2 {
    visibility: hidden;
}